<!--
<div class="shield" *ngIf="commandBarActive" (click)="toggleCommandBar()"></div>
-->
<div class="command-bar command-bar--open" *ngIf="filteredSandboxMenuItems"
     (keydown.control)="onCommandBarStartPreview($event)"
     (keyup.control)="onCommandBarStopPreview()"
     [class.command-bar--preview]="commandBarPreview">
    <input
        class="command-bar__filter"
        type="text"
        name="filter"
        placeholder="search..."
        [formControl]="filter"
        #filterElement
        (keydown.arrowup)="onFilterBoxArrowUp($event)"
        (keydown.arrowdown)="onFilterBoxArrowDown($event)"
        (keydown.control.arrowup)="onFilterBoxArrowUp($event, true)"
        (keydown.control.arrowdown)="onFilterBoxArrowDown($event, true)">
    <div class="command-bar__categories">
        <div
            class="command-bar__category"
            *ngFor="let category of menuCategories; index as categoryIndex">
            <div
                class="command-bar__category__title"
                *ngIf="filteredSandboxMenuItems && filteredSandboxMenuItems.length > 0">
                <span (click)="onCategoryClick(category, $event)"
                    class="command-bar__category__name">
                    {{category.name}}
                </span>
            </div>
            <div *ngIf="filteredSandboxMenuItems && filteredSandboxMenuItems.length > 0
                        && category.visible"
                class="command-bar__sandboxes">
                <ng-container *ngFor="let sandbox of category.sandboxes; index as sandboxIndex">
                    <div class="command-bar__sandbox"
                        (click)="onSandboxHeaderClick(sandbox, $event)">
                        <h2 class="command-bar__title" title="{{category}} {{sandbox.name}}"
                            [class.command-bar__sandbox-title--selected]="selectedSandboxAndScenarioKeys.sandboxKey === sandbox.sandboxMenuItem.key">
                            <span class="command-bar__name"
                                [innerHtml]="sandbox.name | apHighlightSearchMatch : sandbox.sandboxMenuItem.indexMatches"></span>
                            <!--
                            <span class="command-bar__label" *ngIf="category"
                                [innerHtml]="category | apHighlightSearchMatch : sandbox.sandboxMenuItem.indexMatches : sandboxMenuItem.name.length"></span>
                            -->
                        </h2>
                        <ng-container
                            *ngIf="sandbox.visible">
                            <div 
                                class="command-bar__sandbox__groups"
                                *ngFor="let group of sandbox.groups; index as groupIndex">
                                <div
                                    class="command-bar__sandbox__group"
                                    (click)="onGroupClick(group, $event)"
                                    *ngIf="sandbox.groups.length > 1
                                        || ( sandbox.groups.length === 1 && group.name !== 'default' ) ">
                                    <span
                                        class="command-bar__sandbox__group__title">
                                        {{group.name}}
                                    </span>
                                </div>
                                <div class="command-bar__scenarios"
                                    *ngIf="group.visible || ( sandbox.groups.length === 1 && group.name === 'default' )">
                                    <ng-container
                                        *ngFor="let scenario of group.scenarios; index as scenarioIndex">
                                        <a
                                            class="command-bar__scenario-link"
                                            #scenarioElement
                                            [tabindex]="scenario.scenarioMenuItem.tabIndex"
                                            [attr.sandboxMenuItemKey]="sandbox.sandboxMenuItem.key"
                                            [attr.scenarioMenuItemkey]="scenario.scenarioMenuItem.key"
                                            (keydown.control.arrowup)="onScenarioLinkControlUp(scenarioElement, $event)"
                                            (keydown.control.arrowdown)="onScenarioLinkControlDown(scenarioElement, $event)"
                                            (keydown.arrowup)="onScenarioLinkKeyDown(scenarioElement, filterElement, $event)"
                                            (keydown.arrowdown)="onScenarioLinkKeyDown(scenarioElement, filterElement, $event)"
                                            (keydown.esc)="onScenarioLinkKeyDown(scenarioElement, filterElement, $event)"
                                            (keydown.enter)="onScenarioLinkKeyDown(scenarioElement, filterElement, $event)"
                                            (keyup.esc)="onScenarioLinkKeyUp(scenarioElement, $event)"
                                            (keyup.enter)="onScenarioLinkKeyUp(scenarioElement, $event)"
                                            (click)="onScenarioClick(sandbox.sandboxMenuItem.key, scenario.scenarioMenuItem.key, $event); toggleCommandBar()"
                                            [class.command-bar__scenario-link--selected]="isSelected(sandbox.sandboxMenuItem, scenario.scenarioMenuItem)">
                                            <ap-pin [selected]="isSelected(sandbox.sandboxMenuItem, scenario.scenarioMenuItem)"></ap-pin>
                                            <span class="command-bar__scenario-label">
                                                {{scenario.name}}
                                            </span>
                                        </a>
                                    </ng-container>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    <a *ngIf="filteredSandboxMenuItems && filteredSandboxMenuItems.length > 0" class="command-bar__brand"
       href="http://www.angularplayground.it/" target="_blank">
        <ap-logo></ap-logo>
    </a>
</div>
<section class="content">
    <ap-drawer *ngIf="activeMiddleware.overlay" (openCommandBarClick)="toggleCommandBar()" [class.content__menu--hide]="commandBarActive" class="content__menu"></ap-drawer>
    <div class="content__none" *ngIf="!selectedSandboxAndScenarioKeys.sandboxKey">
        <div class="content__none-message">
            <p *ngIf="totalSandboxes > 0">
                The playground has {{totalSandboxes}} sandboxed component{{totalSandboxes > 1 ? 's' : ''}}
            </p>
            <p *ngIf="totalSandboxes === 0">
                Get started - create your first sandbox! <a href="http://www.angularplayground.it/docs/how-to/sandboxing-components" target="_blank">Click here</a>.
            </p>
            <!--
            <div class="content__shortcuts">
                <div class="content__shortcut" *ngFor="let shortcut of shortcuts">
                    <div class="content__shortcut-label">
                        <ng-container *ngFor="let key of shortcut.keys; let i = index">
                            <code>
                                {{key}}
                            </code>
                            <ng-container *ngIf="shortcut.keys.length > 1 && i < shortcut.keys.length - 1">&nbsp;&nbsp;/&nbsp;&nbsp;</ng-container>
                        </ng-container>
                    </div>
                    <div class="content__shortcut-value">
                        {{shortcut.description}}
                    </div>
                </div>
            </div>
        -->
        </div>
    </div>
    <ng-container *ngIf="selectedSandboxAndScenarioKeys.sandboxKey">
        <ap-scenario [selectedSandboxAndScenarioKeys]="selectedSandboxAndScenarioKeys"></ap-scenario>
    </ng-container>
</section>
